<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- Modal to ask for name before joining chat room -->
  <div class="modal-container">
    <div class="modal-content">
      <input type="text" class="form-control box-name" placeholder="Enter a name">
      <button type="button" class="btn btn-primary btn-join">Join chatroom</button>
    </div>
  </div>

  <div class="container">

    <h1>My Chat Application</h1>

    <div class="box-chat"></div>

    <div class="btn-container">
      <div class="text-holder">
        <input type="text" class="form-control box-message" placeholder="Write a message">
      </div>
      <div class="btn-holder">
        <button type="button" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
  </script>
  <script src="js/client.js"></script>
</body>

</html>